/* 
Author: Ashley Nowlin
Date: 7/18/2022
File Name: SSTD_Main.CSS
This is the style sheet for Southern Sweet Treat Delights
*/

@charset "utf-8";

@font-face 
    {
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap')
    format('woff2');
    }
nav > ul {/*line-height: 2em;*/
          list-style-type: none;}

/*changes the background on the entire website*/
body {background-color: rgb(176,219,216)}

/*styles the title (name of business) at the top of the webpage on every page*/
h1 {font-family: 'Dancing Script', cursive;
    font-size: 40pt;
    text-align: center;
    color: rgb(189, 88, 128);}

p {font-family: verdana;
   font-size: 10pt;}

p::first-letter {color:rgb(189, 88, 128)
                 font-style:bold
                 font-size:20pt}

/*formatting of lists*/
article ul {list-style-type: decimal;
            list-style-position: outside; 
            font-family: verdana;}
article ul ul{list-style-type: disc;
              list-style-position: outside; 
              font-family: verdana;}

