/* 
Author: Ashley Nowlin
Date: 7/18/2022
File Name: SSTD_Main.CSS
This is the style sheet for Southern Sweet Treat Delights
*/

@charset "utf-8";
/*establishes the google font*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@font-face 
    {
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-weight: 700;
    ;
     }



/*changes the background on the entire website*/
body {background-color: rgb(176,219,216);
      margin:0;
      padding:0;}

header {text-align: center;
        background-color:white;
        width: 100%;
        margin:0;
        padding:0;}

nav ul {list-style:none;
        background: rgb(189, 88, 128);
        margin:10px 0;
        padding:0;
        text-align:center;
        }
nav li {display:inline-block;
        margin-left:70px
        }
nav a{text-decoration: none;
        width: 100px;
        display:block;
        padding:25px;
        font-family: 'Dancing Script', cursive;
        font-size: 24px;
        font-weight:bolder;
        text-align:center;
        }
/*Formatting anchored hyperlinks
Code in the correct order: link, visited, hover, active
*/
nav a:link {color:white}
nav a:visted{color:yellow;}
nav a:hover{background:white; color:rgb(99,73,122);text-decoration:underline;}   
   

/*styles the title (name of business) at the top of the webpage on every page*/
h1 {font-family: 'Dancing Script', cursive;
    font-size: 40pt;
    text-align: center;
    color: rgb(189, 88, 128);}

h4 {font-family: Verdana;
    text-align: center}

h5 {font-family: Verdana;
    text-align: center;}

h6 {font-family: Verdana;
    text-align: center;}

p {margin: 5px;
   padding:5px;
   font-family: verdana;
   font-size: 12pt;}

p::first-letter {font-family: 'Dancing Script', cursive;
                color:rgb(189, 88, 128);
                font-size:30pt;}

#image {background:rgb(176,219,216);
        width:25%;
        float:right;}

/*formatting of lists
has images in place of the markers with different markers for main and sub lists*/
article ul li{list-style-type: none;
            background-image: url(Images/wholecakebullet.jpg);
            background-repeat: no-repeat;
            padding-left: 18px;
            margin:5px;
            background-position: 0px 2px;
            background-size: 16px;
            font-family: verdana;
            font-size: 11pt;}
article ul ul li{list-style-image: none;
              background-image: url(Images/slicecakebullet.jpg);
              background-repeat: no-repeat;
              padding-left: 18px;
              background-position: 0px 2px; 
              background-size: 16px;
              font-family: verdana;
              font-size: 10pt;}
article footer {text-align:center;}
